    <div ng-form="rideInfoForm">
    <div class="container theme-showcase" role="main" >
      <div class="well">

      <div class="page-header">
        <h1>Ride Info</h1>
      </div>
      <div role="alert" class="alert alert-success" ng-show="showSuccessMessage">
        <strong>Well done!</strong> Ride details saved successfully.
      </div>
      <div role="alert" class="alert alert-danger" ng-show="showErrorMessage">
        <strong>Oh snap!</strong> Please fix the errors below to continue.
      </div>
     <div class="row">
     
			<div class="form-horizontal col-sm-8">
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.userName.$invalid && submitted}">
			    <label for="userName" class="col-sm-4 control-label">Name <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="userName" ng-model="rideInfo.userName" id="userName" ng-required="true">
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.phoneNumber.$invalid && submitted}">
			    <label for="phoneNumber" class="col-sm-4 control-label">Phone Number <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="phoneNumber" ng-model="rideInfo.phoneNumber" id="phoneNumber" ng-required = "true">
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.source.$invalid && submitted}">
			    <label for="Source" class="col-sm-4 control-label">Source <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			    	<select id="source" name="source" ng-model="rideInfo.source" class="form-control" ng-options="location for location in locations" ng-required="true">
			    		
			    	</select>
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.destination.$invalid && submitted}">
			    <label for="Destination" class="col-sm-4 control-label">Destination <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			    
			    	<select id="destination" name="destination" ng-model="rideInfo.destination" class="form-control" ng-options="location for location in locations" ng-required="true">
			    		
			    	</select>
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.radius.$invalid && submitted}">
			    <label for="radius" class="col-sm-4 control-label">Distance from source (radius) <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="radius" ng-model="rideInfo.radius" name="radius" ng-required="true">
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error' : rideInfoForm.time.$invalid && submitted}">
			    <label for="time" class="col-sm-4 control-label">Time <span style="color:red;">*</span></label>
			    <div class="col-sm-8">
			    	<select id="time" class="form-control" ng-model="rideInfo.time" name="time" ng-options="time for time in times" ng-required="true">
			    		<option>Time</option>
			    	</select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="time" class="col-sm-4 control-label">Vehicle</label>
			    <div class="col-sm-8">
			      <div class="radio" ng-model="rideInfo.rideOption">
			        <label>
			          <input type="radio" name="optionsRadios">Car
			        </label>
			        <label>(or) &nbsp;&nbsp;&nbsp;</label>
			        <label>
			          <input type="radio" name="optionsRadios">Bike
			        </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="charge" class="col-sm-4 control-label">Charge</label>
			    <div class="col-sm-2">
			      <div class="radio">
			        <label>
			          <input type="radio" name="free" ng-model="rideInfo.free"> Free
			        </label>
			      </div>
			    </div>
			    <div class="col-sm-6">
			      <input type="text" class="form-control"  ng-model="rideInfo.charge" id="charge">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-4 col-sm-8">
			      <a href="" ng-click="addRide()" class="btn btn-primary">Save</a>
			      <a href="#/" class="btn btn-default">Cancel</a>
			    </div>
			  </div>
			</form>
		</div>
		</div>
		
    </div> <!-- /container -->
</div>
