    <div class="container theme-showcase" role="main">
      <div class="well">

      <div class="page-header">
        <h1>FAQ</h1>
      </div>
      <p><strong>How to coordinate with the car owner?</strong></p>
			<p>Reach him through phone number.</p><br>
			
			<p><strong>When am I expected to pay the charge to owner?</strong></p>
			<p>When you share the ride.</p><br>

			<p><strong>Can I register bike for ride sharing?</strong></p>
			Yes</p>
    </div> 	

    </div> <!-- /container -->
