    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="well">
	      <div class="page-header">
	        <h1>Mindspace to Gachibowli</h1>
	      </div>
	      <div class="row">
	        <div class="col-sm-4">
	          <div class="panel panel-info">
	            <div class="panel-heading">
	              <h3 class="panel-title">Distance (radius)</h3>
	            </div>
	            <div class="panel-body">
	            	<div class="radio">
		              <label><input type="radio" name="lessthan" id="lessthan1km" /> Less than 1 km</label><br>
		              <label><input type="radio" name="lessthan" id="lessthan1km" /> Less than 1 km</label><br>
		              <label><input type="radio" name="lessthan" id="lessthan1km" /> Less than 1 km</label><br>
	              </div>
	            </div>
	          </div>
	          <div class="panel panel-info">
	            <div class="panel-heading">
	              <h3 class="panel-title">Time</h3>
	            </div>
	            <div class="panel-body">
	            	<div class="radio">
		              <label><input type="radio" name="lessthan" id="times" /> Today</label><br>
		              <label><input type="radio" name="lessthan" id="times" /> Tomorrow</label><br>
		              <label><input type="radio" name="lessthan" id="times" /> Net 7 Days</label><br>
		              <label><input type="radio" name="lessthan" id="times" /> Net 30 Days</label><br>
		              <label><input type="radio" name="lessthan" id="times" /> All</label><br>
	              </div>
	            </div>
	          </div>
	        </div><!-- /.col-sm-4 -->
	        <div class="col-sm-8">
	          <div class="panel panel-primary">
	            <div class="panel-heading">
	              <h3 class="panel-title">3 User(s) Available</h3>
	            </div>
	            <div class="panel-body">
	            	<div class="records">
		            	<div class="row">
			            	<div class="col-sm-2">
			            		<center>
			            			<img src="images/user.png" width="115" />
			            		</center>
			            	</div>
			            	<div class="col-sm-3">
			            		<h2>Apurva (F)</h2>93989 08000
			            	</div>
			            	<div class="col-sm-7">
			            		<center>
				            		<h2 style="color: #b92c28">Today 9:00 am</h2>
				            		<h3>Fuel share is <span class="label label-success ">Rs 0.0 / KM</span></h3>
			            		</center>
			            	</div>
		            	</div>
		            	<hr>
		            	<div class="row">
			            	<div class="col-sm-5">
			            		<address>Kondapur, Hyderabad, Telangana, India</address>
			            	</div>
			            	<div class="col-sm-2">
			            		<center>
				            		<img src="images/car171.png" />
			            		</center>
			            	</div>
			            	<div class="col-sm-5">
				            	<address>Hitech City, Hyderabad, Telangana, India</address>
			            	</div>
		            	</div>
		            	<hr style="border-color: #337ab7">
	            	</div>           	
	            	
	            </div>
	          </div>
	        </div><!-- /.col-sm-4 -->
	      </div>
      </div>


    </div> <!-- /container -->
